<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h2>URL Shortener</h2>
    <div>
      <form action="/url" method="post">
        <label for="url">Enter your original URL</label>
        <input
          type="text"
          required
          name="url"
          placeholder="https://www.google.com"
        />
        <button type="submit">Generate</button>
      </form>
    </div>

    <% if (locals.id) { %>
    <p>Generated Short URL: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <br />
    <% if (locals.urls) { %>
    <table>
      <thead>
        <th>S.No</th>
        <th>ShortId</th>
        <th>Redirect</th>
        <th>Clicks</th>
      </thead>
      <tbody>
        <% urls.forEach((url, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= url.shortId %></td>
          <td><%= url.redirectUrl %></td>
          <td><%= url.visitHistory.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
